*{
    /* CSS Reset */
    margin: 0;
    padding: 0;
    /* font family here */
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: cadetblue;
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 550px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Icon here */

